.input-container {
    position: relative;
    width: calc(50% - 16px);
    margin: 8px;
}

.input-title {
    pointer-events: none;
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 16px;
    transition: .15s;
    padding: 0 5px;
    background: white;
}

.input-title.is-active {
    top: -9px;
    left: 10px;
    font-size: 12px;
    padding: 0 10px;
}

.input {
    width: 100%;
    height: 45px;
    padding: 0 8px;
    font-size: 15px;
    border: 1px solid #E0E0E0;
    border-radius: var(--global-border-radius);
    box-sizing: border-box;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-title {
    user-select: none;
    pointer-events: none;
    font-size: 16px;
}

.dropdown-list {
    display: none;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    width: calc(100% - 10px);
    height: 169px;
    left: 0;
    bottom: -169px;
    padding: 0 5px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    background: rgb(255, 255, 255);
}

.dropdown-list.min {
    height: 87px;
    bottom: -87px;
}

.dropdown-list.show {
    display: block
}

.dropdown-list-item {
    cursor: pointer;
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin: 5px 0;
    border: none;
    border-radius: var(--global-border-radius);
    background: rgb(228, 228, 228);
}

.dropdown-list-item:hover {
    background: rgb(187, 187, 187);
}

.input:focus {
    outline: 2px solid rgb(7, 154, 239);
}