.tabs-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  margin: 4px 14px;
  text-align: center;
}

.tabs-nav.category {
  /* display: block; */
}

.tabs-nav-left {
  text-align: left;
  font-size: 17px;
  color: var(--text-color);
}

.tabs-nav-left.category {
  /* font-size: 15px;
  padding-bottom: 5px; */
}

.tabs-nav-right {
  position: relative;
  width: 256px;
  border-radius: var(--global-border-radius);
  background: var(--border-color);
}

.tabs-nav-right.min {
  width: 256px;
}

.enrollment-tabs {
  cursor: pointer;
  position: relative;
  width: 120px;
  display: inline-block;
  text-align: center;
  padding: 6px 0;
  margin: 4px;
  user-select: none;
  border-radius: var(--global-border-radius);
  border: none;
  font-size: 13px;
  color: var(--text-color);
  background: transparent;
}

.enrollment-tabs.max {
  width: 248px;
}

.enrollment-tabs-label {
  height: 100%;
  background: red;
}

.enrollment-tabs.active {
  color: #000;
  font-weight: 600;
  box-shadow: 0 2px 3px rgb(0 16 46 / 15%);
  color: var(--text-color);
  background-color: var(--groups-bg);
}

.category-title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 15px 10px 15px;
  padding-bottom: 5px;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

.category-title.no-space {
  margin: 20px 5px 0;
}

.enrollment-list-content {
  z-index: 99;
  position: absolute;
  display: none;
  top: 35px;
  left: 0;
  width: 100%;
  /* height: 210px; */
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 5px 1px rgba(18, 18, 18, 0.3);
  background: var(--btn-bg);
}

.enrollment-tabs:focus>.enrollment-list-content {
  display: block;
}

.enrollment-tabs:focus {}

.enrollment-list {
  position: relative;
  height: calc(100% - 10px);
  overflow-y: auto;
  margin: 5px 0;
}

.enrollment-list-item {
  cursor: pointer;
  overflow: hidden;
  max-height: 100px;
  line-height: 15px;
  margin: 0 5px;
  padding: 5px;
  font-size: 12px;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

.enrollment-list-item.reset {
  color: white;
  background: rgba(255, 0, 0, 0.8);
}

.enrollment-list-item.reset:hover {
  background: rgb(164, 23, 23);
}

.enrollment-list-item:hover {
  background: var(--select-table-hover);
}

@media screen and (max-width: 550px) {
  .tabs-nav-left {
    text-align: left;
    font-size: 12px;
    word-wrap: break-all;
  }
  .tabs-nav.category{
    display: none;
  }

  .tabs-nav-right {
    width: 100px;
  }

  .tabs-nav-right.min {
    width: 100px;
  }

  .enrollment-tabs {
    font-size: 10px;
    width: 90px;
  }

  .enrollment-tabs.max {
    width: calc(100% - 10px);
  }
}