.list-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: calc(33.33% - 46px);
    padding: 15px;
    margin: 8px;
    border: none;
    border-radius: var(--global-border-radius);
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    transition: .35s;
    box-shadow: 0px 4px 12px rgba(18, 25, 43, 0.12);
    background: var(--btn-bg);
    outline: 2px solid transparent;
}

.list-button:hover {
    color: white;
    background: rgba(1, 102, 102, 0.9);
}

.list-button:focus{
    transition: .3s;
    outline: 2px solid rgba(1, 102, 102,1);
}

.list-button-redirect {
    width: 30px;
    height: 30px;
}

.fa-external-link-alt {
    position: relative;
    top: 1px;
    font-size: 17px;
}

/* Selected button */
.select-table-btn {
    position: relative;
    cursor: pointer;
    width: 50%;
    padding: 5px 0;
    font-size: 17px;
    color: var(--text-color);
    border: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--border-color);
    background: transparent;
    /* background: var(--select-table-bg); */
}

.select-table-btn.three {
    width: 33.33%;
}

.select-table-btn:hover {
    background: var(--border-color-light);
}

.select-table-btn.is-active {
    cursor: default;
    font-weight: bold;
    color: rgba(1, 102, 102, 1);
    border-bottom: 2px solid rgba(1, 102, 102, 1);
    background: transparent;
    /* background: rgb(1, 102, 102); */
}

.admin-list-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 34px);
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--border-color);
    border-radius: var(--global-border-radius);
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    background: var(--bg);
}

.admin-list-button:hover {
    color: white;
    background: rgba(1, 102, 102, 0.9);
}

.admin-list-button:hover .admin-list-active {
    color: white;
}

.admin-list-active {
    color: green;
    font-weight: bold;
    padding-left: 10px;
}

.admin-list-right {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.admin-list-button-edit, .admin-list-button-delete {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 2px solid var(--bg);
    margin: 5px;
    border-radius: var(--global-border-radius);
}

.admin-list-button-edit {
  background: rgba(1, 102, 102, 1);
}

.admin-list-button-edit:hover {
    background: var(--bg);
}

.admin-list-button-edit:hover > .fa-edit{
    color: var(--text-color);
}

.admin-list-button-delete {
    background: rgb(205, 22, 22);
}

.admin-list-button-delete:hover {
    background: var(--bg);
}

.admin-list-button-delete:hover > .fa-trash{
    color: var(--text-color);
}

.fa-edit, .fa-trash {
    color: white;
    font-size: 15px;
    pointer-events: none;
}

@media screen and (max-width: 550px) {
    .table-main {
        font-size: 10px;
    }

    .select-table-btn {
        font-size: 14px;
    }

    .select-table-btn.is-active {
        font-weight: normal;
    }
}

@media screen and (max-width: 880px) {
    .admin-list-button {
        width: calc(100% - 16px);
    }
}

@media screen and (max-width: 830px) {
    .list-button {
        width: calc(50% - 46px);
    }
}

@media screen and (max-width: 575px) {
    .list-button {
        width: 100%;
    }
}