.info-block {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: calc(100% - 30px);
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 12px rgba(18, 25, 43, 0.12);
    color: var(--text-color);
    background: var(--btn-bg);
}

.info-block-title {
    font-weight: 500;
    width: 50%;
}

.info-block-text-content {
    width: 50%;
    display: block;
    text-align: right;
}

.info-block-text {
    width: 100%;
}

@media screen and (max-width: 550px) {
    .info-block {
        width: calc(100% - 22px);
        padding: 11px;
        font-size: 11px;
    }

    .info-block-text {
        word-break: break-all;
    }

    .info-block-title {
        width: 45%;
    }

    .info-block-text-content {
        width: 50%;
    }
}