.info-block {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: calc(100% - 30px);
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: var(--global-border-radius);
    ;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    background: var(--btn-bg);
}

.info-block-title {
    font-weight: 600;
}

.info-block-text-content {
    display: block;
    text-align: right;
}

.info-block-text {
    width: 100%;
}

@media screen and (max-width: 550px) {
    .info-block {
        width: calc(100% - 20px);
        padding: 10px;
        font-size: 11px;
    }

    .info-block-text {
        word-break: break-all;
    }

    .info-block-title {
        width: 45%;
    }

    .info-block-text-content {
        width: 50%;
    }
}