.admin-group-size {
  display: block;
  width: calc(25% - 34px);
  padding: 8px;
  margin: 0 6px 12px;
  color: var(--text-color);
  border-radius: var(--global-border-radius);
  border: 1px solid var(--border-color);
  background: var(--bg);
}

.admin-group-size-title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.admin-group-size-input {
  width: 110px;
  border: 1px solid var(--border-color);
  border-radius: var(--global-border-radius);
  padding: 5px 8px;
  color: var(--text-color);
  transition: .35s;
  background: var(--btn-bg)
}

.admin-group-size-btn {
  cursor: pointer;
  width: 100px;
  color: white;
  border: none;
  padding: 5px 8px;
  margin: 0 2px;
  transition: .35s;
  border-radius: var(--global-border-radius);
  background: rgb(1, 102, 102);
}

.admin-group-size-btn:hover {
  background: rgb(8, 90, 8);
}

@media screen and (max-width: 499px) {
  .admin-group-size {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 500px) and (max-width: 810px) {
  .admin-group-size {
    width: calc(50% - 30px);
  }
}

@media screen and (min-width: 811px) and (max-width: 1200px) {
  .admin-group-size {
    width: calc(33.33% - 31px);
  }
}

@media screen and (max-width: 600px) {
  .admin-group-size-input {
    width: 100%;
    padding: 10px 8px;
  }

  .admin-group-size-btn {
    width: calc(100% - 4px);
    padding: 10px 8px;
  }
}