#header {
  z-index: 999;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 60px;
  padding: 0 5px;
  box-shadow: 0 2px 2px rgb(157 172 207 / 8%);
  background-color: var(--btn-bg);
}

.header-banner {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-banner img {
  position: relative;
  top: 0px;
  width: 50px;
  height: 46px;
  border-radius: 15px;
}

#logo-name {
  padding-left: 5px;
  letter-spacing: 1px;
  height: 60px;
  line-height: 60px;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-color);
}

.header-nav {
  display: flex;
}

.header-nav-btn ul li {
  display: inline-block;
  position: relative;
  list-style-type: none;
  margin: none;
}

.app-link {
  cursor: pointer;
  position: relative;
  padding: 5px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-nav);
  text-decoration: none;
}

.app-link:hover {
  border-radius: 5px;
  background: rgba(0, 128, 255, 0.1);
}

.app-link::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -15px;
  width: 70%;
  height: 3px;
  transition: 0.3s;
  transform: translateX(-50%);
}

.app-link.selected {
  color: #1b6dff;
}

.app-link.selected::after {
  width: 100%;
  background: #1b6dff;
}

.app-link.selected:hover::after {
  width: 70%;
}

.nav-text {
  display: inline;
  padding-left: 5px;
}

.fa-home,
.fa-list-alt,
.fa-info-circle,
.fa-cog {
  position: relative;
  top: 0px;
  font-size: 16px;
}

.fa-cog {
  top: 1px;
  font-size: 17px;
}

#theme-btn,
#admin-btn,
#settings-btn {
  position: relative;
  width: 35px;
  margin: 0 !important;
  text-align: center;
}

#admin-btn::after,
#settings-btn:after,
#theme-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: rgb(166, 166, 166);
}

.fa-user-shield,
.fa-moon,
.fa-sun {
  position: relative;
  top: 1px;
}

/* Settings menu */

#settings-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 70px;
  right: 15px;
  width: 300px;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .15);
  background: var(--bg);
}

#settings-menu.show {
  display: block;
  padding: 8px 8px 0;
}

.header-settings-item {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 8px;
  border: none;
  padding: 8px 10px;
  width: calc(100% - 20px);
  font-size: 15px;
  border-radius: var(--global-border-radius);
  color: var(--text-color);
  background: var(--border-color-light);
}

.header-settings-item:hover {
  background: var(--border-color);
}

.settings-item-content {
  display: flex;
  justify-content: space-between;
}

.settings-item-title,
.settings-item-desc {
  width: calc(100% - 21px);
}

.settings-item-toggle {
  position: relative;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  border: 2px solid #1b6dff;
}

.settings-item-toggle.active::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #1b6dff;
}

.settings-item-desc {
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--description);
}

#settings-btn.active::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 16px;
  border: 6px solid transparent;
  border-top: 6px solid var(--text-color-nav);
}

@media screen and (max-width: 950px) {
  .nav-text {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #logo-name {
    display: none;
  }

  #settings-menu {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 60px;
    right: 0;
    width: calc(100% - 31px);
    height: 178px;
    margin: 8px;
  }
}

@media screen and (max-width: 300px) {
  .app-link {
    margin: 0 1px;
  }
}